%ol-shared {
  list-style: none;
  display: flex;
  padding: 0;
}
%border-shared {
  border: 1px solid;
  border-color: #999;
  text-align: center;
}

%border-radius-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

%border-radius-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.red {
  background: #c8433b;
  border-color: #c8433b !important;
  color: #fff;
}
.blue {
  background: #0076fe;
  border-color: #0076fe !important;
  color: #fff;
}

.greenBorder {
  border: 3px solid !important;
  border-color: #01a862 !important;
}

.greenBtn {
  background: #01a862;
  border-color: #01a862 !important;
  color: #fff;
}

.open {
  display: block !important;
}

.menuInfo {
  h2 {
    margin: 0;
    margin-top: 10px;
  }
  .engTitle {
    color: #666;
    font-size: 12px;
    margin: 5px 0;
  }
  .info {
    font-size: 14px;
    margin: 0;
  }

  .price {
    font-size: 20px;
    margin: 15px 0 5px 0;
    font-weight: bold;
  }
}

.tempBtn {
  ol {
    @extend %ol-shared;

    li {
      @extend %border-shared;
      width: 162px;
      height: 30px;
      line-height: 30px;
    }
    .hot {
      @extend %border-radius-left;
      border-right: none;
    }
    .ice {
      @extend%border-radius-right;
    }
  }
}

.option {
  h2 {
    font-size: 16px;
  }
  ol {
    @extend %ol-shared;
  }
  .size {
    li {
      @extend %border-shared;
      width: 100px;
      border-radius: 10px;
      margin-right: 10px;
    }
  }
  .cup {
    li {
      @extend %border-shared;
      width: 108px;
      line-height: 0;
      text-align: center;
    }
    .hall {
      @extend %border-radius-left;
    }
    .individual {
      border-right: none;
      border-left: none;
    }
    .disposable {
      @extend%border-radius-right;
    }
  }

  @mixin arrow($arrowImg) {
    background: url("./img/#{$arrowImg}.png") no-repeat;
    background-size: 20px;
    border: none;
    width: 20px;
    height: 20px;
  }

  .personal {
    .personalTitle {
      display: flex;
      align-items: center;
      h2 {
        width: 310px;
      }
      .rightArrow {
        @include arrow(rightarrow);
      }
      .downArrow {
        @include arrow(downarrow);
      }
    }
    .optionList {
      display: none;
    }
  }
}
