body {
  margin: 0;
}
.header {
  background: #f6f5ef;
  .headWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      margin-top: 0;
      padding-top: 20px;
    }
  }
  nav {
    ol {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 60px;
      li {
        width: 100px;
        height: 100%;
        :hover {
          background: #036635;
          color: #f6f5ef;
        }
        a {
          display: block;
          height: 60px;
          width: 100%;
          color: black;
          text-decoration: none;
          line-height: 60px;
        }
      }
    }
  }
}
.main {
  .wrapper {
    .wrap {
      width: 800px;
      margin: 0 auto;
    }

    ol {
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 20px;

      li {
        margin-right: 20px;
        width: 300px;
        display: inline-block;
        position: relative;
        
        h2 {
          font-size: 16px;
          margin: 0;
          margin-top: 5px;
        }
        .engTitle {
          color: #666;
          font-size: 12px;
          margin-top: 5px;
        }
        .price {
          font-size: 16px;
        }
      }
    }
  }
}

// common 디자인
.margin25 {
  margin: 0 25px;
}

.close {
  display: none;
}
.show {
  display: block;
}

ol {
  list-style-type: none;
}

.breakWord {
  word-break: break-word;
}

.nobreakWord {
  white-space: nowrap;
}
