%display-shared {
  display: flex;
  justify-content: center;
  align-items: center;
}
%pm0-shared { //padding, margin 0
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
}
.header {
  background: #f6f5ef;
  .headWrap {
    @extend %display-shared;

    h1 {
      text-align: center;
      margin-top: 0;
      padding-top: 20px;
    }
  }
  nav {
    ol {
      @extend %display-shared;
      @extend %pm0-shared;
      text-align: center;
      height: 60px;
      li {
        width: 100px;
        height: 100%;
        :hover {
          background: #006633;
          color: #f6f5ef;
        }
        a {
          display: block;
          height: 60px;
          width: 100%;
          color: black;
          text-decoration: none;
          line-height: 60px;
        }
      }
    }
  }
}
.main {
  .wrap {
    @extend %display-shared;
  }

  ol {
    @extend %display-shared;
    @extend %pm0-shared;
    width: 800px;
    flex-wrap: wrap;
    margin-top: 20px;

    li {
      margin-right: 20px;

      h2 {
        font-size: 16px;
        margin: 0;
        margin-top: 10px;
      }

      .engTitle {
        color: #666;
        font-size: 12px;
        margin: 5px 0;
      }
      .price {
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 0;
      }

      .orderBtn {
        background: #006633;
        border: none;
        border-radius: 3px;
        height: 24px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          line-height: 25px;
        }
      }
    }
  }
}

// .footer {
//   background: #2C2A29;
//   color: #f6f5ef;
// }

// common 디자인
.margin25 {
  margin: 0 25px;
}

.close {
  display: none !important;
}
.show {
  display: block;
}

ol {
  list-style-type: none;
}

.breakWord {
  word-break: break-word;
}

.nobreakWord {
  white-space: nowrap;
}
